
<!DOCTYPE html>
<html>
  <head>
    <title>Best Practices</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="main.css">
    <style>
      .container {
        max-width: 1000px;
      }
      .panel-default .panel-title{
        font-size: 0.9em;
      }
    </style>
  </head>
  <body ng-app="">
    <div class="container-fluid">
      <h3>Best Practices</h3>

      <div class="panel-group" id="accordion">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">User Testing/Interview Planning</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                  <strong><p>Gold-Standard Story</p></strong>
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <td>Points</td>
                        <td>Tasks</td>
                      </thead>
                      <tr>
                        <td>1</td>
                        <td class="task">
                          Write an {{ (testingOrInterview == "Test" ? "testing" : "interview") || "testing/interview" }} plan.
                        </td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td class="task">
                          Get feedback on {{ (testingOrInterview == "Test" ? "testing" : "interview") || "testing/interview" }} plan.
                        </td>
                      </tr>
                      <tr>
                        <td>{{ (((numUsers) || 3)/3) | number: 0}}</td>
                        <td class="task">
                          Recruit {{ (numUsers) || "3"}} users for {{ (testingOrInterview == "Test" ? "testing" : "interview") || "testing/interview" }}.
                        </td>
                      </tr>
                      <tr>
                        <td>{{ (numUsers || 3)*((testTime || 60)/60) }}</td>
                        <td class="task">
                          Conduct {{ (testingOrInterview == "Test" ? "testing" : "interview" || "testing/interview") }} session with users.
                        </td>
                      </tr>
                      <tr>
                        <td>{{ (numUsers || 3)*((testTime || 60)/60) }}</td>
                        <td class="task">
                          Synthesize result & draw insights for {{ (testingOrInterview == "Test" ? "testing" : "interview") || "testing/interview" }}.
                        </td>
                      </tr>                     
                    </table>
                  </div>

                    <p>Test or an interview?</p>
                      <select ng-model="testingOrInterview">
                        <option>Test</option>
                        <option>Interview</option>
                      </select>
                    

                    <p>Ideal number of users to recruit?
                    <input type="number" ng-model="numUsers" min="0"></p>

                    <p>How many minutes will your test/interview take?
                    <input type="number" ng-model="testTime" min="0"></p>

                    <div class="panel panel-success">
                      <div class="panel-heading">Food for Thought</div>
                      <div class="panel-body">
                        How are you ensuring that your {{ (testingOrInterview == "Test" ? "testing" : "interview" || "testing/interview") }} helps you answer the important questions you have for each concept? <br><br>

                        How are you applying {{ (testingOrInterview == "Test" ? "testing" : "interview" || "testing/interview") }} techniques to get helpful, unbiased results? <br><br>

                        How will you record your session? (voice recorder, screen capture, audio recording, etc)

                        <!-- <ul>
                          <li>How are you ensuring that your {{ (testingOrInterview == "Test" ? "testing" : "interview" || "testing/interview") }} helps you answer the important questions you have for each concept?</li>
                          <li>How are you applying {{ (testingOrInterview == "Test" ? "testing" : "interview" || "testing/interview") }} techniques to get helpful, unbiased results?</li>
                          <li>How will you record your session? (voice recorder, screen capture, audio recording, etc)</li>
                        </ul> -->
                      </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Writing A URG Grant</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                  <strong><p>Gold-Standard Story</p></strong>
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <td>Points</td>
                        <td>Tasks</td>
                      </thead>
                      <tr>
                        <td>1</td>
                        <td>
                          Read the URG Office's guide to <a href="http://undergradresearch.northwestern.edu/proposal-writing">writing a proposal</a>.
                        </td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>
                          Write rough first draft.
                        </td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>
                         <a href="http://undergradresearch.northwestern.edu/advising-request">Schedule a URG advising appointment</a> to get feedback or contact <a href="mailto:p-civetta@northwestern.edu">Peter Civetta</a>.
                        </td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>
                          Get feedback from <a href="https://docs.google.com/document/d/1nJf7dEatZ0hCnvXcTuqrXth-2WcItjEQgAI-WEr2hPk/edit#bookmark=id.5vc33dcujca">former URG winners</a> in DTR.
                        </td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>
                          Get feedback from Haoqi.
                        </td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>
                          Iterate on feedback 3 times.
                        </td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>
                          Submit your grant via the <a href="http://undergradresearch.northwestern.edu/how-apply">URG submission portal</a>.
                        </td>
                      </tr>                     
                    </table>
                  </div>

                    <!-- <div class="panel panel-primary">
                      <div class="panel-heading">Food for Thought</div>
                      <div class="panel-body">
                        <ul>
                          <li>Check out the DTR Doc.</li>
                        </ul>
                      </div>
                    </div> -->

                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Technology</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                  <strong><p>Gold-Standard Story</p></strong>
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <td>Points</td>
                        <td>Tasks</td>
                      </thead>
                      <tr>
                        <td>1</td>
                        <td>
                          Describe clearly defined tech outcomes with value-delivering milestones & perceived road blocks.
                        </td>
                      </tr>
                      <tr>
                        <td>N/A</td>
                        <td>
                          From plan, write some value-delivering tasks.
                        </td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>
                         Test tech for possible bugs.
                        </td>
                      </tr>                   
                    </table>
                  </div>

                    <div class="panel panel-success">
                      <div class="panel-heading">Food for Thought</div>
                      <div class="panel-body">
                        What are your solutions to potential roadblocks?<br><br>
                        Who will you contact in particular for help? Do you know when they are free?
                      </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
  </body>
</html>