
<!DOCTYPE html>
<html>
  <head>
    <title>Best Practices</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <style>
      .container {
        max-width: 1000px;
      }
      .panel-default .panel-title{
        font-size: 0.9em;
      }
    </style>
  </head>
  <body ng-app="">
    <div class="container-fluid">
      <h3>Best Practices</h3>

      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">User Testing/Interview Planning</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                  <strong><p>Gold-Standard Story</p></strong>
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <tr>
                        <td>1</td>
                        <td>
                          Write an {{ (testingOrInterview == "Test" ? "testing" : "interview") || "testing/interview" }} plan.
                        </td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>
                          Get feedback on {{ (testingOrInterview == "Test" ? "testing" : "interview") || "testing/interview" }} plan.
                        </td>
                      </tr>
                      <tr>
                        <td>{{ (((numUsers) || 3)/3) | number: 0}}</td>
                        <td>
                          Recruit {{ (numUsers) || "3"}} users for {{ (testingOrInterview == "Test" ? "testing" : "interview") || "testing/interview" }}.
                        </td>
                      </tr>
                      <tr>
                        <td>{{ (numUsers || 3)*(testTime/60) }}</td>
                        <td>
                          Conduct {{ (testingOrInterview == "Test" ? "testing" : "interview" || "testing/interview") }} session with users.
                        </td>
                      </tr>
                      <tr>
                        <td>{{ (numUsers || 3)*(testTime/60) }}</td>
                        <td>
                          Synthesize result & draw insights for {{ (testingOrInterview == "Test" ? "testing" : "interview") || "testing/interview" }}.
                        </td>
                      </tr>                     
                    </table>
                  </div>

                    <p>Is this a test or an interview?
                      <select ng-model="testingOrInterview">
                        <option>Test</option>
                        <option>Interview</option>
                      </select>
                    </p>

                    <p>Ideally, how many users would you recruit for your tests?
                    <input type="number" ng-model="numUsers"></p>

                    <p>How many minutes will your test take?
                    <input type="number" ng-model="testTime"></p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Technology</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>[Task]<a href="http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>