.task {
	word-wrap: break-all;
}
.container {
	max-width: 1000px;
}
.panel-default .panel-title{
	font-size: 0.9em;
}
.panel-success{
	border-color:#27ae60;
}
.panel-success .panel-heading{
	color:white;
	background-color: #27ae60;
}
.panel-success .panel-heading span>a{
	color:white;
}
.panel-success .panel-heading>span>a:hover,a:focus{
	color:#bdc3c7;
}
/*table {
	border-collapse:collapse; 
	table-layout:fixed; 
	width:100%;
}

table .task {
	border:solid 1px #fab; 
	width:100px; 
	word-wrap:break-word;}*/