body {
	overflow: hidden;
	margin: 0;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica;
}

#row-research {
	padding-bottom: 5%;
}

.container {
	padding-top: 5%;
}

.claim {
	font-size: 20px;
}