.link-story {
	margin-bottom: 15px;
}
.btn-chart{
	margin-bottom: 15px;
	margin-left: 15px;
}
.ul-delieverables{
	padding-left: inherit;
}


.lo-fi, .circle-lo-fi {
	color: orange;
}

.medium-fi, .circle-medium-fi {
	color: blue;
}

.hi-fi, .circle-hi-fi {
	color: red;
}

#type {
	color: ;
	font-weight: bold;
}