.link-story {
	margin-bottom: 15px;
}
.btn-chart{
	margin-bottom: 15px;
}
.circle-1{
	color:#e67e22;
}
.circle-2{
	color: #3498db;
}
.circle-3{	
	color: #9b59b6;
}
.circle-4{
	color: #f1c40f;
}
.circle-5{
	color: #27ae60;
}
.circle-6{
	color: #e74c3c;
}
.circle-7{
	color: #95a5a6;
}